.error {
    color: red;
    margin-bottom: 5px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
canvas {
  display: block; /* fix necessary to remove space at bottom of canvas */
}

/* Optional: Additional styling to better match dat.GUI */
.dat-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.dat-link:hover {
    color: #ff8c00;
}