{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Пожалуйста авторизуйтесь</h1>

        <div class="form-floating">
          {{ form.email(placeholder="email", class="form-control mb-2") }}
          {{ form.email.label }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating">
          {{ form.password(placeholder="password", class="form-control mb-2") }}
          {{ form.password.label }}
            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Войти</button>
        <p class="text-center mt-3">Новый пользователь? <a href="{{ url_for('accounts.register') }}">Зарегистрироваться</a></p>
        <p class="text-center mt-3">
          Нужна помощь или есть вопросы? Присоединяйтесь к нашему
          <a href="https://discord.gg/ZVcvTsqY" target="_blank">
            <img src="{{ url_for('static', filename='images/discord-logo.png') }}" alt="Discord" style="width:20px; vertical-align:middle; margin-right:5px;">
            каналу в Discord
          </a>
          для поддержки и обновлений.
        </p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}